/* .element{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background-color: red;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    
    
}
.element:hover{
    animation: stretch 5s infinite;
} */
 /* @keyframes pulse{
    0%,100%{
        background-color: aqua;
    }
    50%{
        background-color: darkcyan;
    }
}  */
/* @keyframes stretch{
    0%{
        transform: scale(0.3);
        background-color: red;
        border-radius: 100px;
        

    }
    50%{
        
        background-color: orange;
    }
    100%{
        transform: scale(1.5);
        background-color: yellow;
    }
} */

/* .ele{
    height: 200px;
    width: 200px;
    border: solid 2px ;
    border-color: black;
    animation: pulse 5s infinite;
}

.ele:hover{
    animation: resizer 5s infinite;
} */

/* @keyframes resizer{
    0%,100%{
        transform: rotate(30 degree);
        background-color: aqua;
        

    }
    50%{
        transform: rotate(90 degree);
        background-color: darkcyan;
    }

} */

.ele{
    background-color: red;
    border-radius: 100%;
    margin: 0 ;
    height: 200px;
    width: 200px;
    animation-name: movedown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}

@keyframes movedown{
    0%{
        transform: translate(0px,0px);
    }
    0%,50%{
        transform: translate(200px,400px);
    }
    100%{
        transform: translate(400px,0px);
    }
}